# Phase 1 Code Challenge Review

![let's do this](https://media.giphy.com/media/12WPxqBJAwOuIM/giphy.gif)

The topics covered will be:

  - [Interacting with Pandas dataframes](#dataframes)
  - [Visualization](#viz)
  - [Python Data Structures](#datastructures)

In [1]:
# My function to call on y'all
from src.call import call_on_students

<a id='dataframes'></a>
# Part 1: Interacting with Pandas DataFrames

To practice working with dataframes, we will use some Facebook data taken from the UCI Machine Learning repository.

Refer to this paper if you are interested in learning more. There is also a nice description of the features: http://www.math-evry.cnrs.fr/_media/members/aguilloux/enseignements/m1mint/moro2016.pdf

In [4]:
# Before anything else - need to import pandas!
import pandas as pd

## Task 1: Read in the data

In [ ]:
# Can explore the data folder within your notebook

Read 'dataset_Facebook.csv' from the data folder into the notebook as a Pandas dataframe.

Note: we'll need to set a different delimiter here - let's read the data in, then explain what that means.

In [2]:
call_on_students(1)

['Leif']

In [33]:
# Your code here
df = pd.read_csv('data/dataset_Facebook.csv', delimiter=';')

In [34]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

## Task 2: Explore the data

### 2a: Look at the first five rows of the dataframe, then the last ten rows

In [12]:
call_on_students(1)

['Jasmine']

In [13]:
# Your code here
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [14]:
df.head(-10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
486,85979,Photo,3,1,1,12,0.0,5034,8030,1020,993,1243,5340,3094,440,2,56.0,25.0,83
487,85979,Photo,3,1,1,2,0.0,4908,7491,957,937,1153,4642,2842,393,1,44.0,21.0,66
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378
489,85979,Photo,3,1,7,2,0.0,4800,7754,975,938,1278,4932,2820,432,1,74.0,28.0,103

In [15]:
df.tail(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
490,85979,Photo,3,1,6,11,0.0,5280,8703,951,911,1237,5757,3300,431,1,79.0,30.0,110
491,85979,Photo,3,1,6,3,1.0,6184,10228,956,901,1140,6085,3502,437,1,105.0,46.0,152
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### 2b: Look at the information for each column in the dataframe, then describe what you notice

In [16]:
call_on_students(1)

['Zachary']

In [18]:
# Your code here
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

What do you notice?

- `Category`  - categorical
- outliers!
- null values!
- `month` - categorical
- `paid` - binary

### 2c: Describe the dataframe's numeric columns, then describe what you notice

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

What do you notice?

-

## Task 3: Explore null values

### 3a: Count how many null values there are in each column

In [21]:
call_on_students(1)

['Matthew']

In [26]:
# Your code here
df.isna().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [27]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

### 3b: What are some of the things we could do to deal with null values?

In [28]:
call_on_students(1)

['Jose']

Answer:

- replace with mean/median
- drop them (less than 10%)

### 3c: Drop records that have null values in the `share` column

In [29]:
call_on_students(1)

['Justin']

In [38]:
# Your code here
df = df.dropna(subset=['share'])

# df.dropna(subset=['share'], inplace=True)

In [39]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

## Task 4: Create a column

An "impression" counts each time a post is displayed.  

Create a new column called `likes_per_impression` which divides the number of likes per post by the number of impressions per post.

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     496 non-null    int64
 1   Type                                                                 496 non-null    object
 2   Category                                                             496 non-null    int64
 3   Post Month                                                           496 non-null    int64
 4   Post Weekday                                                         496 non-null    int64
 5   Post Hour                                                            496 non-null    int64
 6   Paid                                                                 495 non-null    float64
 7   Lifetime Post Total Reach                                            496 non-null    int64
 8   Lifetime Post Total Impressions                                      496 non-null    int64
 9   Lifetime Engaged Users                                               496 non-null    int64
 10  Lifetime Post Consumers                                              496 non-null    int64
 11  Lifetime Post Consumptions                                           496 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         496 non-null    int64
 13  Lifetime Post reach by people who like your Page                     496 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  496 non-null    int64
 15  comment                                                              496 non-null    int64
 16  like                                                                 496 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   496 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 77.5+ KB

In [40]:
call_on_students(1)

['Michael']

In [46]:
# Your code here
df['likes_per_impression'] = df['like'] / df['Lifetime Post Total Impressions']

<ipython-input-46-11692a1a4c63>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['likes_per_impression'] = df['like'] / df['Lifetime Post Total Impressions']

In [47]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,likes_per_impression
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100,0.015518
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164,0.006822
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80,0.015093
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777,0.017865
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393,0.023908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84,0.007033
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75,0.008509
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115,0.012888
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136,0.012031
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119,0.012479

## Task 5: Multiply `likes_per_impression` by 100 so they look like percentages

Make a new column for this, `likes_per_impression_perc`, to capture this output.

In [48]:
call_on_students(1)

['Nathaniel']

In [49]:
# Your code here
df['likes_per_impression_perc'] = df['likes_per_impression'] * 100

<ipython-input-49-c95833e49f66>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['likes_per_impression_perc'] = df['likes_per_impression'] * 100

In [50]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,...,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions,likes_per_impression,likes_per_impression_perc
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,...,159,3078,1640,119,4,79.0,17.0,100,0.015518,1.551758
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,...,1674,11710,6112,1108,5,130.0,29.0,164,0.006822,0.682164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,...,154,2812,1503,132,0,66.0,14.0,80,0.015093,1.509261
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,...,1119,61027,32048,1386,58,1572.0,147.0,1777,0.017865,1.786546
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,...,580,6228,3200,396,19,325.0,49.0,393,0.023908,2.390761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,...,985,4750,2876,392,5,53.0,26.0,84,0.007033,0.703291
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,...,687,3961,2104,301,0,53.0,22.0,75,0.008509,0.850859
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,795,4742,2388,363,4,93.0,18.0,115,0.012888,1.288803
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,...,832,4534,2452,370,7,91.0,38.0,136,0.012031,1.203067
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,...,743,3861,2200,316,0,91.0,28.0,119,0.012479,1.247943

## Task 6: How many examples of each type of post?

I'm seeing a lot of posts with the type of 'Photo' - are there other post types, and what's the breakdown?

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

In [ ]:
# Can also look at the percentages

## Task 7: Find the five Photos with the highest likes/impression ratio

Find the five **Photos** with the highest number in our new `likes_per_impression_perc` column

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 8: Find the most liked Photo

Locate the **Photo** that has the largest amount of likes in the `like` column

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 9: Find the average

What is the mean number of Total Interactions for **Photos**?

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

<a id='viz'></a>
# Part 2: Visualization

In [ ]:
# Need more imports!

## Task 10: Bar Chart

Create a bar chart showing the number of posts per month.

Order the x-axis by month as they appear on the calendar.

Don't forget to add labels and a title.  

Use the `plt.subplot` method if you can, but if you can't, resort to the `plt` syntax.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here
# First need to access the number of posts per month

In [ ]:
# Your code here
# Now need to visualize

Let's discuss: what do you notice?

-

## Task 11: Scatter Plot

Create a scatter plot that shows the correlation between total interactions and likes.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

Let's discuss: what do you notice?

-

<a id='datastructures'></a>
# Part 3: Data Structures

For this next section, we will explore a nested dictionary that comes from the Spotify API.  You won't need to do these kinds of imports and opens on the code challenge, so I'll go ahead and share the code to get started here.

The `data` variable below contains 6 separate pings, each of which returns a list of the top 20 songs streamed on a given day.

In [ ]:
# First we need some imports
import json
import pickle

In [ ]:
# Let's open the pickled file
with open('data/offset_newreleases.p','rb') as read_file:
    responses = pickle.load(read_file)

In [ ]:
data = [json.loads(r) for r in responses]

In [ ]:
# Sanity check - we said there would be 6 pings, are there?
len(data)

We will work only with the first response.

In [ ]:
first_response = data[0]

In [ ]:
first_response

## Task 12: Navigate the dictionary

Explore the `first_response` dictionary and find how to access the items list, which contains the details about the twenty songs. Assign the list to the variable `first_twenty_songs`.

Hint: print out the keys at each level with .keys().

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 13: Loop to List

Create a list of **track names** of all twenty songs using a for loop or list comprehension.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here

## Task 14: Create a new dictionary

Create a dictionary called `song_dictionary` which consists of each track name `string` as a key and a `tuple` of artists associated with each track as a value.

In [ ]:
# call_on_students(1)

In [ ]:
# Your code here:

## Task 15: Write a function

Create a function with takes an **artist name** and the **song_dictionary** as arguments, and returns a `list` of songs written by that artist.

In [ ]:
# call_on_students(1)

In [ ]:
# Easier to do things outside of a function first
# Let's try for The Weeknd

In [ ]:
# Your code here

def find_song_by_artist(artist_name, song_dict):
    
    '''
    Parameters:
    arist_name: a string of an artist's name to be used to search the dictionary
    song_dict:  a dictionary of top_twenty songs with song name as keys and a list of 
    artist names as values
    
    Returns:
    A list of songs which the given artist appeared on
    '''
    
    pass

In [ ]:
# Test the function:
find_song_by_artist('Selena Gomez', song_dictionary)